In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("StudentPerformanceFactors.csv")

In [7]:
df

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23.0,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19.0,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24.0,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29.0,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19.0,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25.0,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23.0,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20.0,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10.0,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15.0,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [9]:
df[df["Exam_Score"] < 65]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
1,19.0,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
15,NaN,68,Medium,Medium,No,8,70,Medium,Yes,2,Medium,Medium,Private,Positive,4,No,High School,Near,Female,64
16,14.0,60,Medium,Low,Yes,10,65,Low,Yes,0,High,Medium,Private,Positive,3,No,College,Near,Male,60
24,17.0,65,Low,High,Yes,5,75,Medium,Yes,2,Low,Medium,Public,Positive,3,No,High School,Near,Female,63
25,21.0,62,High,Low,Yes,6,54,High,Yes,0,High,High,Public,Positive,3,No,Postgraduate,Far,Male,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6578,22.0,76,Low,High,No,5,65,Low,Yes,0,Medium,High,Public,Neutral,3,No,High School,Far,Female,64
6583,11.0,67,Medium,High,No,8,52,High,Yes,3,High,High,Public,Negative,3,No,College,Moderate,Female,63
6593,16.0,75,High,Low,Yes,10,53,High,Yes,0,Low,Low,Public,Positive,4,No,College,Near,Female,64
6598,9.0,87,Low,Medium,Yes,6,64,Medium,Yes,1,High,Medium,Public,Neutral,2,No,High School,Near,Female,64
6606,15.0,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [10]:
df[df["Attendance"] >= 90]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
2,24.0,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
4,19.0,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
8,17.0,94,Medium,High,No,6,80,High,Yes,0,Medium,Low,Private,Neutral,1,No,College,Near,Male,69
9,23.0,98,Medium,Medium,Yes,8,71,Medium,Yes,0,High,High,Public,Positive,5,No,High School,Moderate,Male,72
11,17.0,97,Medium,High,Yes,6,87,Low,Yes,2,Low,High,Private,Neutral,2,No,High School,Near,Male,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6596,17.0,92,Medium,Medium,No,7,66,Low,Yes,2,Low,NaN,Public,Negative,3,No,High School,Near,Male,66
6597,16.0,91,High,Medium,Yes,6,72,High,Yes,0,High,High,Public,Negative,2,No,Postgraduate,Near,Female,70
6599,30.0,94,Medium,Low,No,5,52,Low,No,3,High,Medium,Private,Neutral,2,No,Postgraduate,Moderate,Female,70
6600,12.0,98,Medium,Low,Yes,4,54,Medium,Yes,2,Medium,High,Private,Neutral,3,No,High School,Near,Female,67
6604,20.0,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68

In [11]:
df.loc[42:54]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
42,19.0,63,Low,High,No,7,94,Medium,Yes,1,Medium,Medium,Private,Positive,3,No,High School,Moderate,Male,64
43,18.0,94,Medium,High,Yes,7,82,Medium,Yes,3,Medium,Medium,Private,Negative,2,Yes,College,Near,Male,70
44,11.0,98,Medium,Medium,Yes,9,82,Low,Yes,1,Medium,Medium,Private,Positive,3,No,Postgraduate,Far,Male,68
45,16.0,70,Medium,Medium,Yes,8,98,Medium,Yes,2,Medium,Medium,Public,Positive,3,No,High School,Moderate,Male,65
46,17.0,78,Medium,Medium,Yes,6,88,Medium,Yes,1,Medium,High,Private,Positive,3,No,College,Near,Female,68
47,26.0,61,Medium,Low,Yes,6,70,Medium,Yes,2,Low,Medium,Public,Positive,3,No,High School,Moderate,Female,64
48,22.0,86,Low,Medium,Yes,7,72,Low,Yes,3,Low,High,Public,Positive,2,No,High School,Moderate,Male,68
49,9.0,77,Medium,Medium,No,5,57,Medium,Yes,2,Medium,High,Public,Neutral,3,No,High School,Near,Male,63
50,22.0,71,Low,Medium,Yes,7,65,Low,Yes,1,Medium,Low,Public,Positive,4,No,College,Moderate,Male,64
51,18.0,68,High,Medium,No,7,72,Medium,Yes,0,Medium,Medium,Public,Neutral,3,No,College,Near,Male,64
52,NaN,86,Low,Medium,Yes,8,63,Medium,Yes,2,Medium,Medium,Public,Positive,4,No,High School,Near,Male,67
53,24.0,77,High,Low,No,8,96,Medium,Yes,0,Medium,Medium,Public,Neutral,3,No,High School,Near,Female,67
54,26.0,67,Medium,High,Yes,7,51,Low,Yes,2,High,High,Private,Neutral,4,Yes,Postgraduate,Far,Female,66

In [12]:
df["Hours_Studied"].min(), df["Hours_Studied"].max()

(1.0, 44.0)

In [13]:
df[df["Hours_Studied"] == df["Hours_Studied"].min()]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
262,1.0,69,High,Medium,Yes,6,97,Medium,Yes,1,Low,Medium,Public,Positive,3,No,High School,Near,Female,61
4725,1.0,81,Medium,Medium,Yes,8,66,Medium,Yes,1,Low,Medium,Public,Negative,2,No,College,Near,Male,60
4779,1.0,88,Medium,High,Yes,4,72,High,Yes,3,Medium,Medium,Private,Negative,2,No,College,Near,Male,92

In [14]:
df.isnull()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6603,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6604,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6605,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6606,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False